streamlit>=1.58
nepali-datetime>=1.0.8
pillow>=10.0
pandas>=2.0
fpdf2>=2.8

apscheduler>=3.11.0
twilio>=9.0.0
PyDrive2>=1.21.3
google-api-python-client>=2.0.0
google-auth>=2.0.0
google-auth-oauthlib>=1.2.0